<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="theDessertHouse" type="TheDessertHouse.Web.Configuration.DessertHouseConfigurationSection, TheDessertHouse.Web" />
  </configSections>
 
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <theDessertHouse>
    <articles pageSize="5" />
    <users pageSize="10" />
    <polls pageSize="5" archiveIsPublic="true" />
    <newsletters fromEmail="mailbot@tdh.com" fromEmailDisplayName="TheDessertHouse Mailer" />
    <forums postReplyPageSize="20" forumPageSize="15" />
    <store payPalServer="https://www.sandbox.paypal.com/cgi-bin/webscr" payPalAccount="myemail@thedesserthouse.com" payPalToken="" />
  </theDessertHouse>
  
  
  <connectionStrings>
    <add name="TheDessertHouseConnection" connectionString="Data Source=(local);Initial Catalog=TheDessertHouse; Integrated Security=true;                   Application Name=TheDessertHouse" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" timeout="2880" defaultUrl="/" />
    </authentication>

    <membership defaultProvider="DefaultAspNetMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="DefaultAspNetMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web,               Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="TheDessertHouseConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="TheDessertHouse" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="2" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="TheDessertHouseConnection" applicationName="TheDessertHouse" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

    <anonymousIdentification enabled="true" cookieless="AutoDetect" />
    <profile defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <add name="AspNetSqlRoleProvider" connectionStringName="TheDessertHouseConnection" applicationName="TheDessertHouse" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <properties>
        <add name="Subscription" type="String" />
        <add name="Language" type="String" />
        <add name="ShoppingCart" type="TheDessertHouse.Web.Models.ShoppingCart" serializeAs="Binary" allowAnonymous="true" />
        <group name="PersonalInformation">
          <add name="FirstName" type="String" />
          <add name="LastName" type="String" />
          <add name="Gender" type="String" />
          <add name="BirthDate" type="DateTime" />
          <add name="Occupation" type="String" />
          <add name="Website" type="String" />
        </group>
        <group name="Forum">
          <add name="Posts" type="Int32" />
          <add name="AvatarUrl" type="String" />
          <add name="Signature" type="String" />
        </group>
        <group name="ContactInformation">
          <add name="Street" type="String" />
          <add name="ZipCode" type="String" />
          <add name="City" type="String" />
          <add name="State" type="String" />
          <add name="Country" type="String" />
        </group>
        <group name="Contacts">
          <add name="Phone" type="String" />
          <add name="Fax" type="String" />
        </group>
        <group name="Preferences">
          <add name="Theme" type="String" allowAnonymous="true" />
          <add name="Culture" type="String" defaultValue="en-US" />
          <!--<add name="Newsletter" type="BLL.Newsletters.SubscriptionType"/>-->
        </group>
      </properties>
    </profile>

    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error.cshtml" />
  	<pages>      
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
        <identity impersonate="true" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logfiles\DessertHouse.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="ddMMyyyy" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level: %message%newline" />        
      </layout>      
    </appender>
    <logger name="DessertHouse">
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
  </log4net>
  <system.net>    
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="mailbot@tdh.com">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\EmailPickup" />
        <network defaultCredentials="true" host="domain" port="9009" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
