<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DessertHouseConnection" connectionString="Data Source=(local);
         Initial Catalog=TheDessertHouse; 
         Integrated Security=true;         
         Application Name=TheDessertHouse"/>
  </connectionStrings>
</configuration>