<h3>Order Sucess</h3>
<p>Your order has been sucessfully placed. Your order number is <strong>@ViewBag.OrderNumber</strong>. 
You will recieve an email when your order has shipped out, thank you for your business.</p>

